@model IEnumerable<FPT_BOOKSTORE.Models.Category>

<h1>Requests</h1>


<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <a asp-area="Authenticated" asp-controller="Users" asp-action="ApproveRequest" asp-route-id="@item.Id">Approve</a> |
                <a asp-area="Authenticated" asp-controller="Users" asp-action="RejectRequest" asp-route-id="@item.Id">Reject</a>
            </td>
        </tr>
    }
    </tbody>
</table>