@model IEnumerable<FPT_BOOKSTORE.Models.Category>


@if(TempData["SuccessMessage"] != null && (bool)TempData["ShowMessage"]){
    <div id="successMessage" class="alert alert-success">@TempData["SuccessMessage"]</div>
    <script>
        setTimeout(function() {
            $("#successMessage").fadeOut("slow");
        }, 5000);
    </script>
}else if(TempData["DeleteCateMessage"] != null && (bool)TempData["ShowMessage"]){
    <div id="deleteCateMessage" class="alert alert-danger">@TempData["DeleteCateMessage"]</div>
    <script>
        setTimeout(function() {
            $("#deleteCateMessage").fadeOut("slow");
        }, 5000);
    </script>
}else if (TempData["EditCateMessage"] != null && (bool)TempData["ShowMessage"])
{
    <div id="editCateMessage" class="alert alert-warning">@TempData["EditCateMessage"]</div>
    <script>
        setTimeout(function() {
            $("#editCateMessage").fadeOut("slow");
        }, 5000);
    </script>
}

<div class="book-container">
    <div class="book-detail-header">
        <h1>Categories</h1>
    </div>
    <div class="btn-detail">
        <a asp-action="Create">Create New</a>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td class="btn-category-edit">
                    <a asp-action="Details" asp-route-id="@item.Id" style="background: #00158d">Details</a>
                    <a asp-action="Edit" asp-route-id="@item.Id" style="background: rgb(128, 111, 0)">Edit</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" style="background: maroon">Delete</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>

