@model FPT_BOOKSTORE.Models.Cart

<form method="post">
    <input hidden asp-for="BookId"/>

    <div class="book-detail-header">
        <h1>BOOK DETAIL</h1>
    </div>
    <div class="book-detail">
        <div class="book-detail-left">
            <div class="book-detail-img"
                style="background: url(@Model.Book.ImgUrl) no-repeat;
                background-position: center;
                background-size: cover;">   
            </div>
        </div>
        <div class="book-detail-right">
            <h2>@Model.Book.Title</h2>
            <p>Author: @Model.Book.Author</p>
            <p>Catergory: @Model.Book.Category.Name</p>
            <p>Description: @Html.Raw(Model.Book.Description)</p>
            <p style="color: maroon;"><b>Price: </b>@Model.Book.Price.ToString("C")</p>
            <div class="input-count">
                <input min="1" asp-for="Count"/>
            </div>
            <div class="btn-detail">
                <a asp-action="Index"><ion-icon name="backspace-outline"> </ion-icon> Back to List</a>
                <button type="submit" value="Add to Cart">Add to Cart <ion-icon name="cart-outline"></ion-icon></button>
            </div>
        </div>
    </div>
</form>