@model IEnumerable<FPT_BOOKSTORE.Models.Book>

@if(TempData["AddCartMessage"] != null && (bool)TempData["ShowMessage"]){
    <div id="addCartMessage" class="alert alert-success">@TempData["AddCartMessage"]</div>
    <script>
        setTimeout(function() {
            $("#addCartMessage").fadeOut("slow");
        }, 3000);
    </script>
}

<div class="row pb-3 backgroundWhite">
    <img src="../img/panel.png">
    @foreach (var product in Model)
    {
        <div class="col-lg-3 col-md-6">
            <div class="row p-2">
                <div class="home-product-item">
                    <div class="product-img" 
                        style="background: url(@product.ImgUrl) no-repeat;
                        background-position: center;
                        background-size: cover;">
                    </div>
                    <div class="product-title">
                        <p><b>@product.Title</b></p>
                    </div>
                    <div class="product-author">
                        <p>Author: <b>@product.Author</b></p>
                    </div>
                    <div class="product-category">
                        <p>Category: @product.Category.Name</p>
                    </div>
                    <div class="product-price">
                        <p style="color:maroon">Price:<b>$ @product.Price</b></p>
                    </div>
                    <div class="btn-product-detail">
                        <a asp-controller="Home" asp-action="Details" asp-route-id="@product.Id">Detail</a>
                    </div>

                </div>
            </div>
        </div>
    }
</div>

<div style="display:flex;text-align:center;justify-content:center">
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            @for (var i = 0; i < @ViewBag.numberOfPages; i++)
            {
                var style = (ViewBag.currentPage == @i) ? "active" : "";
                <li class="page-item @style">
                    <a class="page-link" asp-route-id="@i" asp-route-searchString="@ViewData["CurrentFilter"]">@(i + 1)</a>
                </li>
            }
        </ul>
    </nav>
</div>
