@model FPT_BOOKSTORE.VM.ShoppingCartVM


<form method="post">

    @if (Model.ListCarts.Any())
    {
        <div class="cart-detail-container">
        <div class="cart-detail">
            <div class="cart-detail-header">
                <h2><ion-icon name="cart-outline"></ion-icon>Shopping Cart</h2>
            </div>
             @foreach (var item in Model.ListCarts)
            {
            <div class="cart-detail-product">
                <div class="cart-detail-product-img" 
                style="background: url(@item.Book.ImgUrl) no-repeat;
                        background-position: center;
                        background-size: cover;" >
                    @* <img src="@item.Book.ImgUrl"/> *@
                </div>
                <div class="cart-detail-product-book">
                    <h2>@item.Book.Title</h2>
                    <hr>
                    <p>Category: <b>@item.Book.Category.Name</b></p>
                    <hr>
                    <p style="width: 200px;">@item.Book.Description</p>
                    <hr>
                    <p>
                        <strong>$ @item.Book.Price<span class="text-muted"> X </span> @item.Count </strong>
                        <strong style="color: maroon">
                            =  @{
                                        var bookPrice = item.Book.Price * item.Count;
                                        @bookPrice
                                    } $
                        </strong>
                    </p>
                </div>
                    <div class="cart-detail-edit">
                        <a asp-action="plus" asp-route-cartId="@item.Id">
                           <ion-icon name="add-circle-outline" style="color: maroon;"></ion-icon>
                        </a>
                        <a asp-action="minus" asp-route-cartId="@item.Id">
                           <ion-icon name="remove-circle-outline" style="color: #090080;"></ion-icon>
                        </a>
                        <a asp-action="Delete" asp-route-id="@item.Id"  onclick="return confirm('Do you wanna delete this?')">
                            <ion-icon name="trash-outline" style="color: #ff0e0e;"></ion-icon>
                        </a>
                    </div>
            </div>
            }
            <div class="cart-detail-total" style="margin-top: 10px;">
                    <span>Total ($): </span>
                    <strong>$ <span id="txtOrderTotal" style="color: maroon">@Model.Order.Total</span></strong>
            </div>
            <div class="cart-detail-footer">
                    <a asp-area="UnAuthenticated" asp-controller="Home" asp-action="Index" style="background: #10003c;" >Continue Shopping</a>
                    <a asp-area="Authenticated" asp-controller="Carts" asp-action="Summary" style="background: #00b12f;">Summary</a>
            </div>
        </div>
    </div>
    }
    else
    {
        <div style="color :white"> There is no item in shopping cart </div>
    }
    
</form>
 
@section Scripts{
    <script>
    function Delete(id){
        swal({
            title: "Are you sure?",
            text: "Once deleted, you will not be able to recover this imaginary file!",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        }).then((willDelete) => {
            if (willDelete){
                $.ajax({
                    type: "DELETE",
                    url: "/Authenticated/Carts/Delete/" + id,
                    success: function (data){
                        console.log(data)
                        if(data.success){
                            toastr.success(data.message);
                            setTimeout(function(){
                               window.location.reload(1);
                            }, 500);
                        }
                        else {
                            toastr.error(data.message);
                        }
                    }
                });
            }
        });
    }
    </script>
}