@model FPT_BOOKSTORE.VM.ShoppingCartVM
@using Microsoft.Extensions.Options

<form method="post">
    <div class="summary-container">
        <div class="summary-header">
            <h2><ion-icon name="cart-outline"></ion-icon>Order Summary</h2>
            <a asp-area="Authenticated" asp-controller="Carts" asp-action="Index">Back to Cart</a>
        </div>
        <div class="summary-detail">
            <div class="summary-address">
                <h2>PickUp Details:</h2>
                <div>
                    <label>Street Address: </label>
                    <input asp-for="Order.Address" type="text"/>
                    <span asp-validation-for="Order.Address"></span>
                </div>
            </div>
            <div class="summary-order">
                <ul class="list-group">
                    @{
                        double subTotal = 0;
                    }
                    @foreach (var details in Model.ListCarts)
                    {
                        <li class="list-group-item d-flex justify-content-between" >
                            <div style="padding-right: 50px;">
                                <h6 class="my-0">@details.Book.Title</h6>
                                <small class="text-muted">Quantity: @details.Count</small>
                            </div>
                            <span class="text-muted">
                                @{
                                   var total = details.Price * details.Count;
                                } 
                                ($):   $@total
                            </span>
                            @{
                                subTotal += total;
                            }
                        </li>
                    }
                    <li class="list-group-item d-flex justify-content-between bg-light">
                        <small class="text-info">Total ($)</small>
                        <strong class="text-info">@subTotal</strong>
                    </li>
                </ul>
            </div>
        </div>
        <div class="summary-footer">
            <p><i> Estimate Arrival Date: @DateTime.Now.ToShortDateString() - @DateTime.Now.AddDays(7).ToShortDateString()</i></p>
            <button type="submit" value="Place Order">Place Order</button>
        </div>
    </div>
</form>
    
@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}